<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <title>Восхождение к подвигу</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header__wrapper">
            <h1 class="main-title visuali-hidden">Книга - Восхождение к подвигу</h1>
            <div class="book">
                <img src="images/book_front.png" alt="Обложка" class="book__front" width="200" height="283">
            </div>
            <div class="desc">
                <p class="desc__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aperiam,
                    assumenda,
                    error odit quibusdam voluptas sint, quod veritatis aliquid quos alias repellat! Temporibus hic,
                    accusamus beatae tenetur porro distinctio vero blanditiis est magni molestias fugiat natus ipsum
                    unde
                    doloribus aperiam, rem, ducimus delectus quam repudiandae quos. Dolores voluptatem doloribus
                    reiciendis!
                </p>
            </div>
        </div>
    </header>
    <main class="wrapper">
        <section class="about">
            <h2 class="about__title">О чем эта книга</h2>
            <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum eveniet excepturi
                expedita veniam atque veritatis adipisci a, omnis pariatur qui numquam rerum debitis quaerat saepe
                voluptate
                quis eum assumenda nostrum tempora dolorem, unde est quae itaque quidem! Quas temporibus laboriosam
                fugiat
                ipsa molestiae esse sit, placeat, maxime eveniet labore repudiandae sunt, reprehenderit voluptatibus
                veniam
                voluptatum maiores consequuntur ducimus quo adipisci vitae dolorum necessitatibus beatae corrupti natus.
                Architecto doloribus aut, quos repellat molestias eum autem voluptatum possimus omnis accusamus ipsam
                est
                vel obcaecati tempore similique quis earum distinctio reiciendis voluptates in fugiat! Cum voluptas enim
                porro nihil, natus vitae, officiis doloribus molestiae ipsa minima, placeat velit veritatis sint eos ex
                recusandae? Sapiente magnam temporibus ratione distinctio, quisquam quas recusandae reprehenderit
                inventore
                laboriosam maxime, in labore totam corrupti vel repellendus impedit qui consequatur. Recusandae rerum
                officia earum iure. Deleniti id sapiente exercitationem doloremque nobis, eligendi esse debitis incidunt
                officiis deserunt cupiditate laborum autem dolores libero ut possimus iure eaque in necessitatibus quo
                architecto ea assumenda corporis. Voluptate eligendi et quam dignissimos, earum magnam itaque dolorem
                vero
                ut natus doloribus repellat, officia, quidem quod libero. Corporis quia commodi maiores praesentium
                suscipit
                fuga, rem inventore magni nostrum fugiat! Id facilis vitae amet quia saepe delectus quisquam eaque nisi
                distinctio, voluptas, culpa commodi! Rerum eum voluptas ab accusantium est quisquam consectetur
                blanditiis
                doloribus nam repellendus pariatur, illum aliquam fuga iusto qui officia? Exercitationem nesciunt ad,
                eos
                impedit, saepe numquam reiciendis earum explicabo esse neque dolores iusto ipsam commodi laboriosam
                tempore
                deleniti quasi itaque facere beatae.</p>
        </section>

        <section class="pay">
            <h2 class="pay__title">Поддержать</h2>
            <p class="pay__card">4444-4444-4444-4444</p>
        </section>
    </main>
</body>

</html>