<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <link rel="icon" href="favicon.jpg" type=" image/jpeg">
    <link rel="stylesheet" href="styles/fm.revealator.jquery.css">
    <title>Восхождение к подвигу</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header__wrapper">
            <h1 class="main-title visuali-hidden">Книга - Восхождение к подвигу</h1>
            <div class="book">
                <img src="images/book_front.png" alt="Обложка" class="book__front" width="200" height="283">
            </div>
            <div class="desc">
                <p class="desc__text"><b>Дорогие братья и сестры!</b> Обращаемся ко всем не равнодушным к истории
                    родной страны и героям её защищавшим. Проводится сбор средств на публикацию книги с жизнеописанием
                    Самойленко Трофима Львовича. Просим вас оказать посильную помощь в
                    публикации книги.
                </p>
            </div>
        </div>
    </header>
    <main class="wrapper">
        <section class="about">
            <h2 class="about__title">О чем эта книга</h2>
            <p class="about__text"><span
                    class="revealator-fade revealator-delay1 revealator-duration10 revealator-once">В книге о
                    герое Великой
                    Отечественной войны Трофиме Львовиче Самойленко член Союза </span><span
                    class=" revealator-fade revealator-delay1 revealator-duration10 revealator-once">
                    писателей России рассказал о жизненном пути простого крестьянского паренька, начиная с его
                    рождения, до конца 70-х годов ХХ века. Сюда вошли се этапы становления советского государства:
                </span><span class=" revealator-fade revealator-delay1 revealator-duration10 revealator-once">
                    революция, коллективизация, вторая мировая, послевоенное восстановление народного хозяйства, целина
                    и 60-70 г.г. Книга основана на письмах Трофима Львовича сыну Николаю, семейных архивах и архивах МО
                    СССР
                </span>
            </p>
            <p class="about__text revealator-fade revealator-delay1 revealator-duration10 revealator-once">
                В книгу же вошли очерки о детях фронтовика Николае и Александре, естественно продолживших историю семьи
                Самойленко, а также рассказ Дмитрия Сизова «Горячий день» об одном из эпизодов военной жизни фронтовика.
            </p>
            <blockquote>
                <p class="about__text">
                    <span class=" revealator-fade revealator-delay1 revealator-duration10 revealator-once">
                        &laquo;Мне представляется, что именно такие семейные летописи сохраняют время, бесследно
                        уходящее в прошлое. Создавая их, мы приближаем историю ко дню сегодняшнему, а это значит, что
                        ничья жизнь не
                        проходит бесследно.
                    </span><span class=" revealator-fade revealator-delay1 revealator-duration10 revealator-once"> Зная
                        свое прошлое,
                        все мы можем с надеждой смотреть в будущее. Это характерно не только
                        для
                        взрослого поколения, но и для только что входящих в жизнь молодых людей.&raquo;
                    </span>
                </p>
                <cite class="about__autor revealator-fade revealator-delay1 revealator-duration10 revealator-once">
                    Михаил Немцев, член Союзов писателей России и Казахстана, академик Петровской академии наук и
                    искусств,
                    Почётный гражданин города Риддера.
                </cite>
            </blockquote>

        </section>

        <section class="pay">
            <h2 class="pay__title">Поддержать</h2>
            <p class="pay__card revealator-fade revealator-delay1 revealator-duration10 revealator-once">Чтобы помочь в
                публикации
                данной книги, достаточно перевести луюбую сумму на карту
                сбербанка, получатель - Андрей Сергеевич В. В сообщении к переводу необходимо указать:
                "Пожертвование на публикацию книги"<br>
                <span class="pay__number revealator-fade revealator-delay1 revealator-duration10 revealator-once">5469
                    5900 1048
                    7554</span></p>
        </section>
    </main>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/fm.revealator.jquery.js"></script>
</body>

</html>