body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

.top_line{
    background: #C8A35F;
}

.top_line__wrapper{
    max-width: 1110px;
    height: 45px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.top_line a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    opacity: 0.5;
}

.top_line a:hover{
    text-decoration: underline;
}

.top_line p a, #selected{
    opacity: 1;
}

.top_line p{
    margin: 0;
}

.menu_line{
    width: 100%;
    background: #2F343A;
}

.menu_line__wrapper{
    max-width: 1110px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.menu_line__wrapper > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu_line__wrapper div{
    padding-right: 10px;
}

.menu_line__wrapper nav ul li{
    display: inline;
}

.logo_text{
    height: 46px;
    background: url("../images/Line.png") no-repeat right center;
}

.logo_text img{
    padding: 12px 20px 12px 0;
}

.placeholder{
    margin-left: 35px;
    padding-left: 30px;
    padding-right: 0px;
    background: url("../images/placeholder.png") no-repeat left center;
}

.placeholder a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.placeholder a:hover, .menu_line nav a:hover{
    text-decoration: underline;
}

.menu_line nav a{
    text-decoration: none;
    color: #fff;
    padding-left: 30px;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.title_line{
    height: 620px;
    background: url("../images/top_background.png") no-repeat center center;
    margin: 0 auto;
}

.title_line__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}

.top_title{
    border: 1px solid #C8A35F;
    min-height: 243px;
    max-width: 920px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 0;
    font-size: 64px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}

.top_title p{
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.mouse_img{
    margin-top: 140px;
}

.slider{
    background: linear-gradient(270deg, #393F47, #393F47 39%, #2F343A 39%, #2F343A 61%, #393F47 61%, #393F47);
}

.slider-wrapper {
    margin: 0 auto;
    min-height: 561px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    padding-left: 10px;
}

.slider_description{
    /* background: #393F47; */
    /*width: 36%;*/
    min-width: 260px;
    margin-bottom: 20px;
    z-index: 1;
}

.description_continer{
    margin: 0 0 0 auto;
}

h2{
    position: relative;
    font-weight: bold;
    font-size: 40px;
    word-break: break-all;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    /* background: url("../images/separator.png") no-repeat left top; */
    padding-top: 40px;
    padding-bottom: 0;
}

h2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 6px;
    background-color: #C8A35F;
}

.description_continer p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 45px;
}


.button a{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding-top:17px;
    display: block;
    height: 38px;
    width: 220px;
    background: #C8A35F;
}

.button a:hover{
    text-decoration: underline;
}

.slider_nav{
    /* background: #393F47; */
    /*width: 52%;*/
    margin-top: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.slider_arrows{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.slider_arrows a{
    display: block;
    color: #C8A35F;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.slider_arrows p:last-child a{
    padding-left: 98px;
    background: url("../images/Arrow_left.png") no-repeat left center;
    margin-bottom: 0;
}

.slider_arrows p:first-child a{
    padding-right: 98px;
    background: url("../images/Arrow_right.png") no-repeat right center;
    margin-top: 0;
}

.slider_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 166px; */
    /* margin-left: -283px; */
}

.services{
    background: #2F343A;
}

.services__wrapper{
    min-height: 744px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    padding: 10px;
}

.services_list{
    margin-top: 70px;
    margin-bottom: 70px;
}

.services_list h2{
    margin-top: 0;
}

.services_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services_buttons .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
    width: 276px;
    box-shadow: 0px 0px 0px 1px #2F343A;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: bottom;
    background-color: #393F47;
    transition: background-color .3s ease;
}

.services_buttons .button:hover {
    background-color: #C8A35F;
}

.button .text {
    display: inline-block;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image__airplane {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("../images/white_plane.png");
    flex-shrink: 0;
    z-index: 1;
    transition: filter .25s ease;
}

.image__circle {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    z-index: 0;
    border-radius: 50%;
    transition: width .25s ease-in, height .25s ease-in;
    flex-shrink: 0;
}

.services_buttons .button:hover .image__airplane {
    filter: invert(100%);
}

.services_buttons .button:hover .image__circle {
    filter: none !important;
    opacity: 1;
    width: 70px;
    height: 70px;
}

.about{
    background: linear-gradient(270deg, #2F343A, #2F343A 39%, #393F47 39%, #393F47 61%, #2F343A 61%, #2F343A);
}

.about__wrapper{
    margin: 0 auto;
    min-height: 482px;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.about_description_container{
    width: 36%;
}

.about_images_container{
    width: 55%; 
}

.about_description{
}

.about_description p{
    font-size: 16px;
    color: #FFFFFF;
}

.about_images{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 80px;
}

.about_images div{
    width: 199.5px;
    height: 159.5px;
    border: 0.25px solid #C8A35F;
    background: #fff;
    margin-left: -0.25px;
    margin-bottom: -0.25px;
    text-align: center;
}

.about_images div p{
    margin: 0;
    padding: 0;
}

.about_images_p_digits{
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F343A;
    margin-top: 23px !important;
    margin-bottom: -8px !important;
}

.about_images_p_bigtext{
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 3px !important;
}

.about_images_p_smalltext{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.separator{
    height: 120px;
    background: #2F343A;
}


ymaps [class*="-pane"]{
    filter: brightness(70%) !important;
}


ymaps:hover [class*="-pane"]{
    filter: none !important;
}


footer{
    height: 161px;
    background: #C8A35F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.logo_and_addr{
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.phones_and_dev{
    width: 516px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; 
}

footer p{
    margin: 0;
}

footer .logo_image{
    margin-right: 10px;
}

footer .logo_text{
    margin-right: 30px;
    background: none;
}

footer .mail{
    font-weight: normal;
    font-size: 14px;
    color: #F2F2F2;
    opacity: 0.8;
    margin-bottom: 10px;
}

footer .email a{
    font-weight: normal;
    font-size: 14px;
    color: #2F343A;
    text-decoration: none;
}

footer .email a:hover, footer .phones a:hover{
    text-decoration: underline;
}

footer .phones a{
    font-weight: normal;
    font-size: 14px;
    color: #F2F2F2;
    text-decoration: none;
}

footer .development a{
    font-size: 14px;
    text-align: right;
    color: #2F343A;
}


#toggle, .toggle-container{
    display: none;
}

.button-toggle, .button-toggle:before, .button-toggle:after{
    position: absolute;
    display: block;
    height: 2px;
    top: 50%;
    width: 100%;
    background: #fff;
}

.button-toggle:before, .button-toggle:after{
    content: "";
}

.button-toggle:before{
    transform: translateY(-7px);
    transition: 0.5s, opacity 1s;
}

.button-toggle:after{
    transform: translateY(5px);
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .toggle-container .button-toggle:before{
    transform: rotate(25deg);
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .toggle-container .button-toggle:after{
    transform: rotate(-25deg);
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .toggle-container .button-toggle{
    background: none;
}

@media screen and (max-width: 992px){
    .slider_nav{
        width: 300px;
    }

}

@media screen and (max-width: 768px){
    .slider-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .menu_line nav a{
        font-size: 12px;
        padding-left: 10px;
    }
    footer .logo_text {
        margin-right: 5px;
    }

    footer .phones a{
        font-size: 12px;
    }
}

@media screen and (max-width: 576px){
    .main_menu{
        display: none;
        position: absolute;
        overflow: hidden;
    }

    .toggle-container{
        display: block;
        position: relative;
        height: 16px;
        width: 24px;
        cursor: pointer;
    }

    .adaptive_menu__wrapper{
        position: relative;
    }

    #toggle:checked ~ .main_menu{
        display: block;
        position: absolute;
        margin-left: -195px;
        margin-top: 155px;
    }

    #toggle:checked ~ .main_menu a{
        display: block;
        box-sizing: border-box;
        padding: 25px;
        font-size: 14px;
        border: 1px solid  rgb(95, 104, 116);
        background-color: rgb(47, 52, 58);
    }

    h1{
        font-size: 44px;
    }

    .top_title p{
        font-size: 14px;
    }

    h2{
        font-size: 32px;
    }

    .slider_image{
        height: 73px;
        width: 80px;
    }

    .slider_nav{
        width: 310px;
    }

    .slider_arrows a{
        font-size: 12px;
    }
    
    .slider_arrows p{
        margin: 5px;
    }

    .placeholder{
        margin-left: 15px;
    }

    .about__wrapper{
        flex-direction: column;
    }

    .about_description_container {
        width: 100%;
    }
    
    footer .mail, footer .email a, footer .phones a, footer .development a{
        font-size: 10px;
    }
}

@media screen and (max-width: 320px){
    .footer{
        flex-direction: column;
    }
}