@import url('normolize.scss');
@import url('fonts.scss');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  font-family: ptsans, arial, sans-serif;
  font-size: 14px;
}