<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <title>Site</title>
</head>
<body>
   <header class="page-header contact-us-header">
       <div class="top-line">
            <div class="top-line__container">
                <div class="top-line__logo">
                    <img src="images/Logo.svg" alt="Logo">
                </div>
                <div class="top-line__menu">
                    <div class="top-line__menu_container">
                        <input id="toggle" type="checkbox">
                        <label class="toggle-container" for="toggle">
                            <span class="button-toggle"></span>
                        </label>
                        <nav class="nav">
                            <ul>
                                <li class="nav__item"><a href="index.html"><span>Main Page</span></a></li>
                                <li class="nav__item"><a href="blog.html"><span>Blog</span></a></li>
                                <li class="nav__item"><a href="contuct_us.html"><span>Contact Us</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>    
        </div>
        <div class="contact-us">
           <div class="contact-us__wrapper">
                <h1 class="contact-us__title">Contact Us</h1>
                <p class="contact-us__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <address class="contact-info">
                <img src="images/contacts_img.svg" alt="contacts">
                <h3 class="contacts-info__mail-address-title">
                    Address
                </h3>
                <p class="contacts-info__mail-address">
                    Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                </p>
                <h3 class="contacts-info__phones-title">
                    Phone
                </h3>
                <p class="contacts-info__phones">
                    <a class="contacts-info__phone" href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
                    <a class="contacts-info__phone" href="tel:+62-817-000-1234">+62-817-000-1234</a>
                </p>    
                <h3 class="contacts-info__web-email-title">
                    Online service
                </h3>
                <p class="contacts-info__web-email">
                    <a class="contacts-info__web" href="http://www.afrianska.com">www.afrianska.com</a>
                    <a class="contacts-info__email" href="email:hello.afrian@gmail.com">hello.afrian@gmail.com</a>
                </p>
            </address>
            <div class="feedback__wrapper">
                <form action="#" class="feedback" name="feedback">
                    <h3 class="feedback__title">Send us message</h3>
                    <label class="feedback__name-label" for="name">Full Name</label>
                    <input class="feedback__name-input" type="text" name="name" placeholder="Your Name">
                    <label class="feedback__email-label" for="email">Email</label>
                    <input class="feedback__email-input" type="text" name="email" placeholder="Your Email">
                    <label class="feedback__message-label" for="message">Message</label>
                    <textarea name="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <button class="feedback__button button">Submit</button>
                </form>
            </div>
        </div>
        <section class="map">
            
        </section>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="feed-back">
                <div class="feed-back__description">
                    <h2 class="feed-back__title">Intersted to work with our team?</h2>
                    <p class="feed-back__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <button class="feed-back__button button">Let’s Talk</button>
            </div>
            <hr class="footer__break-line">
            <div class="contacts">
                <div class="contacts__bases">
                    <h3 class="contacts__title">Afrianska</h3>
                    <ul class="contacts__list">
                        <li class="contacts__item">A. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="contacts__item">T. <a class="contacts__link" href="tel:+62-812-7313-4321">+62-812-7313-4321</a></li>
                        <li class="contacts__item">E. <a class="contacts__link" href="email:hello.afrian@gmail.com">hello.afrian@gmail.com</a></li>
                    </ul>    
                </div>
                <div class="about-us">
                    <h4 class="about-us__title">About US</h4>
                    <ul>
                        <li class="about-us__item"><a class="about-us__link" href="#">About</a></li>
                        <li class="about-us__item"><a class="about-us__link" href="#">What We Do</a></li>
                        <li class="about-us__item"><a class="about-us__link" href="#">Project</a></li>
                        <li class="about-us__item"><a class="about-us__link" href="#">How It Work With Us</a></li>
                    </ul>
                </div>
                <div class="follow-us">
                    <h4 class="follow-us__title">Follow US</h4>
                    <ul>
                        <li class="follow-us__item"><a class="follow-us__link" href="#">Instagram</a></li>
                        <li class="follow-us__item"><a class="follow-us__link" href="#">Facebook</a></li>
                        <li class="follow-us__item"><a class="follow-us__link" href="#">LinkedIn</a></li>
                        <li class="follow-us__item"><a class="follow-us__link" href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">2019 &copy; Afrianska. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>