<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <title>Webblock</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <header>
                <div id="logo">
                    <img src="images/logo_text.png" alt="Logo">
                    <h1>WEBBLOCK</h1>
                    <p>adipiscing elitnuncele</p>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a class="selected" href="#"><span>Home</span></a></li>
                    <li><a href="#"><span>About us</span></a></li>
                    <li><a href="#"><span>Our Support</span></a></li>
                    <li><a href="#"><span>Forum</span></a></li>
                    <li><a href="#"><span>Improtance</span></a></li>
                    <li><a href="#"><span>Info</span></a></li>
                    <li><a href="#"><span>Contact us</span></a></li>
                </ul>
            </nav>
            <section>
                <div>
                    <h2>Why we are</h2>
                    <p>
                        consectetuer adipiscing elit. Nunc elementum suscipit metusane. Pellentesque tincidunt, ante sed vestibulum laoreet, ipsum diam pharetra est, faucibus varierat erat at lorem.
                    </p>
                    <p>
                        <b>Suspendisse congue dignissim dolor.</b>Aliquam vel risusMauri turpis a lorevehicula vehicula. Etiam porta purus in urna.Sed justo arcu, iaculis vitae,<span>condimentu non, venenatis sit</span> amet, sem. Sed mauris leo,laoreet vel, ultrices a, ultrices vitae, magna. Duis porta metus non enim. Integer porteleifend ante. Donec ipsum ante, laoreet at, consectetuer quis, lobortis et, velit. Vivamus pharetra euismod lectus. <span>Morbi tortorturpis</span> suscipitut, lobortis id, eleifend aleo. Nunc lectus metus, purus eget lacus. Aliquam purus.
                    </p>
                        <div id="read_more">
                            <div id="button">

                            </div>
                        </div>
                </div>
            </section>
            <div id="parts">
                <h3>Vivamus pharetra euismod</h3>
                <div id="list">
                    <div id="first">
                        <ul>
                            <li><a href="#"><span>acullamcorper id, velit. Morbi convallis</span></a></li>
                            <li><a href="#"><span>suscipit felis. Phasellus vinterdum nibh.</span></a></li>
                            <li><a href="#"><span>Suspendiss</span></a></li>
                            <li><a href="#"><span>libero vitae congue vulputate, onltrices</span></a></li>
                            <li><a href="#"><span>tortor,</span></a></li>
                        </ul>
                    </div>
                    <div id="second">
                        <ul>
                            <li><a href="#"><span>non imperdiet pedevQuisque a diam</span></a></li>
                            <li><a href="#"><span>non sapien eleifendctetue</span></a></li>
                            <li><a href="#"><span>erat quam, scelerisque in, viverra sed,</span></a></li>
                            <li><a href="#"><span>volutpat eget, quam. Pellentesque </span></a></li>
                            <li><a href="#"><span>convallis orci et mi. purus </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div id="search">
                <p>Search</p>
                <form name="search" action="#" method="GET">
                    <p>
                        <input type="text" name="query">
                    </p>
                    <p>
                        <a href="#">Advance search</a>
                        <input type="submit" value="" name="search">
                    </p>
                </form>
            </div>
            <div id="news">
                <h4>News</h4>
                <div id="new">
                    <a href="#"><h5>Fusce condimentum</h5></a>
                    <p>Ultrices a, ultrices vitaeerr, magna. Duis porta metuse non enim. Integer</p>
                </div>
                <div id="new">
                    <a href="#"><h5>Fusce condimentum</h5></a>
                    <p>Ultrices a, ultrices vitaeerr, magna. Duis porta metuse non enim. Integer</p>
                </div>
                <div id="new">
                    <a href="#"><h5>Fusce condimentum</h5></a>
                    <p>Ultrices a, ultrices vitaeerr, magna. Duis porta metuse non enim. Integer</p>
                </div>
            </div>
            <div id="support">
                <p>24/7 ONLINE</p>
                <p>SUPPORT</p>
            </div>
            <div id="auth">
                <p>Members login</p>
                <form name="auth" action="#" method="GET">
                    <p>Name</p>
                    <p><input type="text" name="name" required></p>
                    <p>Password</p>
                    <p><input type="password" name="password" required></p>
                    <p><input type="checkbox" name="remember"><span>Remember me</span></p>
                    <p><a href="#">Want to be a member?</a></p>
                    <p><input type="submit" name="login" value=""></p>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer_menu">
            <ul>
                <li><a href="#"><span>Home</span></a></li>
                <li><a href="#"><span>About us</span></a></li>
                <li><a href="#"><span>Our Support</span></a></li>
                <li><a href="#"><span>Forum</span></a></li>
                <li><a href="#"><span>Improtance</span></a></li>
                <li><a href="#"><span>Info</span></a></li>
                <li><a href="#"><span>Contact us</span></a></li>
            </ul>
        </div>
        <div id="copyright">
            <p>Copyright © Cracked Webblock 2007 All Rights Reserved</p>
        </div>
        <div id="buttons">
            <div id="button_xhtml"></div>
            <div id="button_css"></div>
        </div>
        <div id="designed_by">
            <p>Designed By : <span>Template World</span></p>
        </div>
    </footer>
    
</body>
</html>