<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <title>Trans Light</title>
</head>
<body>
    <header>
        <div class="top-line">
            <nav class="top-line__nav">
                <ul class="menu">
                    <li><a class="menu__item" href="#"><span>О компании</span></a></li>
                    <li><a class="menu__item" href="#"><span>Портфолио</span></a></li>
                    <li><a class="menu__item" href="#"><span>Каталог</span></a></li>
                    <li><a class="menu__item" href="#"><span>Сервис</span></a></li>
                    <li><a class="menu__item" href="#"><span>Контакты</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="presentation">
            <div class="presentation-wrapper">
                <div class="presentation__container">
                    <h1 class="presentation__header">Светотехническое оборудование в Петербурге</h1>
                    <p class="presentation__descryption">Продажа, аренда светотехнического оборудования. Оформление официальных мероприятий под ключ.</p>
                    <div class="presentation__button"><a href="#" class="button"><span>Перейти</span></a></div>
                </div>
            </div> 
        </div>
    </header>
    <main class="main">
        <div class="wrapper">
            <section class="projects">
                <div class="projects-wrapper">
                    <div class="projects__header projects-header">
                        <div class="projects-header__title">
                            <span class="decor-line"></span>
                            <h2>Наши проекты</h2>
                        </div>
                        <div class="projects-header__buttons">
                            <a href="#" class="button-left"><span></span></a>
                            <a href="#" class="button-right"><span></span></a>
                        </div>
                    </div>
                    <div class="projects__list projects-list">
                        <div class="projects-list__item">
                            <div class="projects-list__image">
                                <img src="images/project1.png" alt="project1">
                            </div>
                            <div class="projects-list__description">
                                <h3>ССК “ОЛИМП”</h3>
                                <p>Световое оформление форума “Шубы-2019”</p>
                            </div>
                        </div>
                        <div class="projects-list__item">
                            <div class="projects-list__image">
                                <img src="images/project2.png" alt="project1">
                            </div>
                            <div class="projects-list__description">
                                <h3>ССК “ОЛИМП”</h3>
                                <p>Световое оформление форума “Шубы-2019”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="catalog">
                <div class="catalog-wrapper">
                    <div class="catalog__title">
                        <span class="decor-line"></span>
                        <h2>Каталог продукции</h2>
                    </div>
                </div>
                <div class="catalog__category catalog-category">
                    <a href="#" class="catalog-category__item active"><span>Robe</span></a>
                    <a href="#" class="catalog-category__item"><span>Compulite</span></a>
                </div>
                <div class="catalog__list catalog-list">
                    <div class="catalog-list__item">
                        <div class="catalog-list__image">
                            <img src="images/product1.png" alt="item">
                        </div>
                        <div class="catalog-list__description">
                            <p>Статичные светодиодные приборы</p>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="catalog-list__image">
                            <img src="images/product2.png" alt="item">
                        </div>
                        <div class="catalog-list__description">
                            <p>Контроллеры</p>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="catalog-list__image">
                            <img src="images/product3.png" alt="item">
                        </div>
                        <div class="catalog-list__description">
                            <p>Аксессуары</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rent">
                <div class="rent__title">
                    <span class="decor-line"></span>
                    <h2>Аренда оборудования</h2>
                </div>   
                <div class="rent-wrapper">
                    <div class="rent__description">
                        <p>Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.</p>
                    </div>
                    <div class="rent__slider rent-slider">
                        <div class="rent-slider__title">
                            <h4>Новое оборудование, предоставляемое в аренду:</h4>
                            <div class="rent-slider__buttons">
                                <a href="#" class="button-left"><span></span></a>
                                <a href="#" class="button-right"><span></span></a>
                            </div>
                        </div>
                        <div class="slider-wrapper">
                            <div class="rent-slider__image">
                                <img src="images/Rent_product.png" alt="Rent Prod">
                            </div>
                            <div class="rent-slider__description">
                                <h5>Robe Robin ParFect 100</h5>
                                <ul>
                                    <li>Источник света 12 светодиодов RGBW по 15 Вт </li>
                                    <li>Угол раскрытия 7°</li>
                                    <li>В комплекте рассеивающая линза 40°</li>
                                    <li>Потребляемая мощность 200 Вт</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="news">
                <div class="news__title">
                    <div class="news__title-wrapper">
                        <span class="decor-line"></span>
                        <h2>Новости</h2>
                    </div>
                    <a href="#" class="button"><span>Все новости</span></a>
                </div>   
                <div class="news__list">
                    <div class="news__item last">
                        <div class="news__item-description">
                            <div class="news__item-header">
                                <h4>Семинар Milos</h4>
                                <div class="news__date">27.01.2019</div>
                            </div>
                            <p>Наши сотрудники прошли последний семинар от компании Milos. Они получили новый объем знаний, который позволит нашей компании заниматься оборудованием не только мероприятий, но производственных помещений.</p>
                            <a href="#" class="read_more"><span>Читать полностью...</span></a>
                        </div>
                        <div>
                            <img src="images/last_news_item.png" alt="last news">
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__item-description">
                            <h4>Выставка Prolight+Sound NAMM Russia 2016</h4>
                            <p>30 контрактов, тысячи восторженных посетителей...</p>
                        </div>
                        <div class="news__item-image">
                            <img src="images/news_item1.png" alt="news">
                            <div class="news__date">27.01.2019</div>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__item-description">
                            <h4>Семинар <br>Robe</h4>
                            <p>30 января 2017 года наши сотрудники побывали в Берлине..</p>
                        </div>
                        <div class="news__item-image">
                            <img src="images/news_item2.png" alt="news">
                            <div class="news__date">27.01.2019</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__contacts footer-contacts">
                <div class="footer-contacts__tel"><a href="tel:8(812)7108025"><span>(812) 710-80-25</span></a></div>
                <div class="footer-contacts__address"><p>191180, Санкт-Петербург, Набережная реки Фонтанки, 90, корпус 1</p></div>
                <div class="footer-contacts__email"><a href="mailto:mail@translight.ru"><span>mail@translight.ru</span></a></div>
            </div>
            <div class="footer__menu footer-menu">
                <ul>
                    <li><a href="#" class="footer-menu__item"><span>О компании</span></a></li>
                    <li><a href="#" class="footer-menu__item"><span>Каталог</span></a></li>
                    <li><a href="#" class="footer-menu__item"><span>Наши проекты</span></a></li>
                    <li><a href="#" class="footer-menu__item"><span>Новости</span></a></li>
                    <li><a href="#" class="footer-menu__item"><span>Аренда</span></a></li>
                    <li><a href="#" class="footer-menu__item"><span>Сервисное обслуживание</span></a></li>
                </ul>
            </div>
            <div class="footer__copyrights footer-copyrights">
                    <div class="footer-copyrights__division"><p>© 2019 ЗАО «Транслайт». Все права защищены.</p></div>
                    <div><a class="footer-copyrights__developer" href="https://d-e-n.ru"><span>Разработка и дизайн - D-e-n.ru</span></a></div>
            </div>
        </div>
    </footer>
</body>
</html>