* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Light.otf');
}

body {
    background: #fff;
    font-family: Gilroy;
    color: #1F3F68;
    letter-spacing: 0.05em;
    overflow-x: hidden;
}

.page-header {
    max-height: 768px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 70.84%, rgba(152, 195, 232, 0.2) 80.12%);
}

ul {
    list-style: none;
}

.top-line {
    max-width: 1366px;
    height: 130px;
    margin: 0 auto;
 }

.top-line__container {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-line__menu_container {
    width: 24px;
    height: 16px;
}


.top-line__menu {
    overflow: hidden;
}

.nav .nav__item a {
    display: block;
    height: 0px;
    width: 200px;
    font-size: 0px;
    font-weight: bold;
    padding-top: 0px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #5a5a5a;
    background: hsla(208, 95%, 85%, 0.702);
    transition: 0.5s, opacity 1s;
}

.nav__item:href a {
    background: hsla(207, 100%, 96%, 0.702) !important;
}

.button-toggle, .button-toggle:before, .button-toggle:after {
    position: absolute;
    display: block;
    height: 2px;
    top: 50%;
    width: 100%;
    background: #356EAD;
}

.button-toggle:before, .button-toggle:after {
    content: "";
}

.button-toggle:before {
    transform: translateY(-7px);
    transition: 0.5s, opacity 1s;
}

.button-toggle:after {
    transform: translateY(5px);
    transition: 0.5s, opacity 1s;
}

.toggle-container {
    display: block;
    position: relative;
    height: 16px;
    width: 24px;
    cursor: pointer;
}

#toggle {
    display: none;
}

.nav {
    position: absolute;
    margin-left: -180px;
    margin-top: 10px;
    z-index: 2;
    height: 0;
}



#toggle:checked ~ .nav .nav__item a {
    height: 35px;
    font-size: 18px;
    padding-top: 15px;
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .nav .nav__item:hover a {
    background: hsla(207, 100%, 96%, 0.702);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
    transform: rotate(25deg);
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .toggle-container .button-toggle:after {
    transform: rotate(-25deg);
    transition: 0.5s, opacity 1s;
}

#toggle:checked ~ .toggle-container .button-toggle {
    background: none;
}

.banner {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 190px;
}


.banner__description {
    max-width: 510px;
    padding-top: 56px;
}

.banner__header {
    font-family: Galien;
    font-size: 54px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.banner__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    max-width: 425px;
}

.banner__wrapper {
    position: relative;
}

.banner__image {
    position: absolute;
    left: 47%;
    top: 0;
}

.button {
    display: block;
    width: 220px;
    background: #5A98D0;
    border-radius: 10px;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.banner__button{
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    margin-top: 71px;
}

@media screen and (max-width: 992px) {
     .banner__description {
        max-width: 100%;
    }

    .banner__text {
        max-width: 500px;
    }

    .banner__header {
        margin: 0;
    }

    .banner__button .button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .banner__header {
        font-size: 32px;
        line-height: 40px;
    }

    .banner__image {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .banner__header, .banner__text {
        text-align: center;
    }
    .button {
        width: 100%;
    }
}

.what_we_do {
    padding-right: 35px;
    padding-left: 35px;
    margin: 0 auto;
    margin-top: 192px;
    max-width: 940px;
}

.what_we_do__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: start;
    justify-content: center;
    height: 1255px;
}

.what_we_do__description {
    position: absolute;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    max-width: 358px;
    top: 0;
    left: 0;
}

.what_we_do__item {
    position: relative;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    height: 429px;
    width: 284px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.what_we_do__image {
    position: absolute;
    bottom: 345px;
    left: 82px;
}

.what_we_do__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
}

.what_we_do__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-bottom: 32px;
}

.what_we_do__more {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-right: 44px;
    background: url("../images/arrow.svg") no-repeat right center;
}

.what_we_do__more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .what_we_do__item {
        margin-left: 35px;
        margin-bottom: 35px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .what_we_do__image {
        left: 33px;
    }

}

@media screen and (max-width: 768px) {
    .what_we_do__item {
        margin-left: 0px;
        margin-bottom: 35px;
        padding-left: 48px;
        padding-right: 48px;
    }

    .what_we_do__image {
        left: 82px;
    }

    .what_we_do__wrapper {
        height: auto;
        align-items: center;
        padding-top: 200px;
    }

    .what_we_do__description {
        max-width: 500px;
        font-size: 32px;
    }    

    .what_we_do {
        margin-top: 92px;
    }

}

@media screen and (max-width: 576px) {
    .what_we_do__item {
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .what_we_do__image {
        left: 15%;
    }

    .what_we_do__description {
        position: static;
        margin-bottom: 150px;
    }

    .what_we_do__wrapper {
        padding-top: 0;
    }
}

.projects {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 92px;
}

.projects__wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.projects__header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 96px;
}

.projects__title {
    display: block;
    margin-right: 93px;
    width: 400px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.projects__description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.projects__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.projects__item {
    position: relative;
    margin-bottom: 96px;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.0);
    z-index: 1;
    cursor: pointer;
}

.projects__image {
    border-radius: 10px;
}

.projects__item::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0px;
    height: 0;
    width: 100%;
    border-radius: 10px;
    z-index: 10;
    transition: all .3s;
    background: linear-gradient(309.18deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}

.large::after {
    background:url("../images/Mask_Group_hover.png") no-repeat left bottom, linear-gradient(89.97deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}

.projects__item:hover::after {
    height: calc(100% - 14px);
}

.projects__item:hover {
    color: rgba(255, 255, 255, 1);
}

.project__name {
    position: absolute;
    left: 32px;
    top: 24px;
    z-index: 100;
}

.project__name p {
    font-size: 16px;
    opacity: 0.8;
}

.large .project__name {
    left: auto;
    top: 48px;
    right: 48px;
}

@media screen and (max-width: 1030px) {
    .large {
        max-width: 422px;
        min-height: 417px;
        overflow: hidden;
    }
    
    .large img {
        width: 422px;
        height: 417px;
        object-fit: cover;
    }

    .large::after {
        background: linear-gradient(89.97deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
    }

    .large .project__name {
        left: 32px;
        top: 24px;
        right: auto;
    }

    .projects__item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 992px) {
    .projects__list {
        flex-direction: column;
        justify-content: center;
    }      
    
    .projects__title {
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .projects__item {
        color: rgba(255, 255, 255, 1);
    }

    .projects__item {
        max-width: 280px;
        min-height: 279px;
        overflow: hidden;
    }
    
    .projects__item img {
        width: 280px;
        height: 279px;
        object-fit: cover;
    }

    .project__name h3 {
        font-size: 22px;
    }

    .project__name p {
        font-size: 14px;
    }

    .projects__title {
        font-size: 22px;
    }

    .projects__description {
        font-size: 12px;
    }
}

@media screen and (max-width: 396px) {
    .projects__item {
        max-width: 100%;
    }
    
    .projects__item img {
        width: 100%;
    }
}

.clients {
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    color: #fff;
}

.cliens__wrapper {
    padding-top: 96px;
    margin: 0 auto;
    max-width: 940px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 125px;
}

.cliens__header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 111px;
}

.clients__title {
    display: block;
    margin-right: 93px;
    width: 400px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.clients__description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.clients__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}


.clients__block {
    flex-basis: calc((100% / 4) - 4px);
    height: 126px;
    margin-right: 1px;
    margin-bottom: 1px;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    transition: all .5s;
}

.clients__block:nth-child(4n) {
    border-right: none;
}

.clients__block:nth-child(n+5) {
    border-bottom: none;
}

.clients__block:hover {
    background: rgba(31, 63, 104, .2);
}

.block-more {
    background: rgba(31, 63, 104, .2);
}

.clients__item {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 128px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .clients__title {
        margin-right: 10px;
    }

    .clients {
        border-radius: 100px 0px 0px 0px;
    }
}    

@media screen and (max-width: 768px) {
    .clients__block {
        flex-basis: calc((100% / 3) - 3px);
    }

    .clients__block {
        border-right: solid 1px #fff;
        border-bottom: solid 1px #fff;
    }

    .clients__block:nth-child(4n) {
        border-right: solid 1px #fff;
    }
    
    .clients__block:nth-child(n+5) {
        border-bottom: solid 1px #fff;
    }

    .clients__block:nth-child(3n) {
        border-right: none;
    }
    
    .clients__block:nth-child(n+7) {
        border-bottom: none;
    } 
}

@media screen and (max-width: 576px) {
    .clients__block {
        flex-basis: calc((100% / 2) - 2px);
    }

    .clients__block:nth-child(2n) {
        border-right: none;
    }

    .clients__block:nth-child(3) {
        border-right: solid 1px #fff;
    }

    .clients__title {
        font-size: 22px;
    }

    .clients__description {
        font-size: 12px;
    }
}

.footer {
    color: #fff;
    padding-right: 35px;
    padding-left: 35px;
    background: linear-gradient(90deg, #316099 0%, #316099 30%, #ffffff 30%, #ffffff 100%);
}

.main_page-footer-background{
    background: linear-gradient(90deg, #316099 0%, #316099 30%, #5A98D0 30%, #5A98D0 100%);
}

.footer__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    border-radius: 0px 200px 0px 0px;
    background: #316099;
    padding-top: 90px;
}

.feed-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 860px;
    margin-bottom: 95px;
}

.feed-back__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    max-width: 330px;
    padding-right: 100px;
    padding-bottom: 32px;
}

.feed-back__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 460px;
    padding-right: 10px;
}

.feed-back__button{
    margin-right: 25px;
}

.footer__break-line {
    position: absolute;
    width: 150%;
    top: 390px;
    right: 105px;
    opacity: 0.4;
}

.contacts {
    padding-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contacts__bases {
    max-width: 310px;
    margin-right: 100px;
}

.contacts__title {
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.02em;
    padding-left: 64px;
    margin-bottom: 33px;
    background: url("../images/Footer_logo.svg") no-repeat left center;
}

.contacts__list {
    padding-left: 35px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.contacts__item::first-letter{
    padding-right: 15px;
    font-weight: bold;
}

.contacts__item {
    text-indent: -35px;
    padding-bottom: 24px;
}

.contacts__link, .about-us__link, .follow-us__link {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #fff;  
}

.contacts__link:hover, .about-us__link:hover, .follow-us__link:hover {
    text-decoration: underline;
}

.about-us {
    margin-right: 77px;
}

.about-us__title, .follow-us__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
}

.about-us__item, .follow-us__item {
    margin-bottom: 16px;
}

.copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.4;
    padding-top: 64px;
    padding-bottom: 64px;
}

@media screen and (max-width: 992px) {
    .footer__wrapper  {
        border-radius: 0px 100px 0px 0px;
    }

    .footer__break-line {
        top: 440px;
        right: 25px;
    }
}    

@media screen and (max-width: 576px) {
    .feed-back__title {
        font-size: 22px;
    }
    .feed-back__text, .contacts__link, .about-us__link, .follow-us__link, .copyright{
        font-size: 12px;
    }
    .feed-back {
        flex-direction: column;
    }
}

.blog-header {
    background: #fff;
}

.blog {
    overflow: hidden;
    height: 250px;
    background: url("../images/blog_background.png") no-repeat center center;
    text-align: center;
    color: #fff;
    padding-right: 35px;
    padding-left: 35px;
}

.blog__wrapper {
    margin: 0 auto;
    max-width: 780px;
}

.blog__title {
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-top: 50px;
    margin-bottom: 16px;
}

.blog__description{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
    .blog__title {
        font-size: 32px;
        line-height: 40px;
    }

    .blog__description{
        font-size: 16px;
        line-height: 20px;
    }
}

.search {
    margin: 0 auto;
    max-width: 940px;
    margin-top: 56px;
    margin-bottom: 56px;
    padding-right: 35px;
    padding-left: 35px;
}

.search__field {
    position: relative;
}


.search__input {
    width: calc(100% - 70px);
    background: url("../images/search.png") no-repeat left 27px center, #F4F4F4;
    border: none;
    border-radius: 10px;
    height: 56px;
    padding-left: 72px;
    font-size: 16px;
    line-height: 19px;
    color: #1F3F68;
    outline: none;
}

.search__placeholder {
    position: absolute;
    top: 0;
    left: 72px;
    opacity: .6;
}

.search__input:focus {
    box-shadow: 0 0 3px #1F3F68;
}

.search__input:focus + .search__placeholder {
    display: none;
}

.popular-articles {
    margin: 0 auto;
    max-width: 940px;
    padding-right: 35px;
    padding-left: 35px;
}

.popular-articles__label {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #356EAD;
    opacity: 0.8;
}

.bottom {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 54px;
    margin-bottom: 24px;
}

.popular-articles__item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 33px;
}

.popular-articles__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.description-main{
    margin-right: 20px;
}

.popular-articles__title {
    font-family: Galien;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 16px;
}


.title-main {
    font-size: 48px;
    line-height: 58px;
}

.popular-articles__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #000;
    opacity: 0.6;
}

.popular-articles__author {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular-articles__date {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}

.popular-articles__meta {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-top: 16px;
}

.popular-articles__bookmark {
    position: absolute;
    right: 55px;
    top: 13px;
    cursor: pointer;
}

.popular-articles__share {
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
}   

.popular-articles__image img{
    max-width: 540px;
}

.popular-articles__sub-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.popular-articles__item {
    flex-basis: 30%;
    margin-right: 12px;
    margin-top: 30px;
}

.popular-articles__item:last-child {
    margin-right: 0;
}

.blog__break-line{
    opacity: .2;
}

@media screen and (max-width: 992px) {
    .popular-articles__item-main {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .popular-articles__image img{
        max-width: 420px;
    }

    .title-main {
        font-size: 32px;
        line-height: 30px;
    }
    
    .popular-articles__text {
        font-size: 14px;
        line-height: 20px;
    }
   
    .popular-articles__item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    .popular-articles__image img {
        max-width: 300px;
    }

}

@media screen and (max-width: 320px) {
    .popular-articles__image img {
        max-width: 220px;
    }
}

.articles {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 95px;
    padding-right: 35px;
    padding-left: 35px;
}

.articles__label {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #356EAD;
    opacity: 0.8;
}

.articles__list { 
    padding-top: 32px;
    max-width: 860px;
}

.articles__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 32px;
}

.articles__image {
    margin-right: 20px;    
}

.articles__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.articles__meta {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.articles__bookmark {
    position: absolute;
    right: 55px;
    top: 13px;
    cursor: pointer;
}

.articles__share {
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
}   

.articles__title {
    font-family: Galien;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}


.articles__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #000;
    opacity: 0.6;
}

.articles__author {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.articles__date {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}

.articles__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.articles__new-post {
    position: relative;
    padding-left: 30px;
}

.articles__old-post {
    position: relative;
    padding-right: 30px;
}

.articles__new-post::before{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/arrow.svg") no-repeat left center;
    transform: rotate(180deg);
}
.articles__old-post::before{
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/arrow.svg") no-repeat left center;
}

.articles__link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #356EAD;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .articles__item {
            flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .articles__image img {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .articles__image img {
        max-width: 220px;
    }
}